POSTGRES_DB=lumiere
POSTGRES_USER=lumiere
POSTGRES_PASSWORD=lumiere
POSTGRES_PORT=5432
PGADMIN_DEFAULT_EMAIL=admin@lumiere.local
PGADMIN_DEFAULT_PASSWORD=admin123
PGADMIN_PORT=5050
DATABASE_URL=postgresql://lumiere:lumiere@localhost:5432/lumiere?schema=public
